body > .container-fluid {
    padding-top: 42px;
}

.navbar-inverse {
    background-color: #3e3f3a;
}

.nav-tabs .nav-link.active {
    color: #8e8c84;
}

.accordion {
    --bs-accordion-bg: unset;
}

.form-group {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.progress-bar {
    color: #ffffff;
}

#simple_data thead {
    display: none;
}
