body > .container-fluid {
    padding-top: 42px;
}

.navbar-inverse {
    background-color: #3e3f3a;
}

.dropdown-menu > li > a.active,
.dropdown-menu > li > a:active {
    background-color: unset;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #3e3f3a;
}

.nav-tabs .nav-link.active {
    color: #8e8c84;
}

.accordion {
    --bs-accordion-bg: unset;
}

.accordion-body > .form-group {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.radio-inline {
    margin-right: 1rem;
}

.progress-bar {
    color: #ffffff;
}

.shiny-panel-conditional > * {
    animation: conditional 0.8s;
}

@keyframes conditional {
    0%   { opacity: 0; }
    25%  { opacity: 0; }
    100% { opacity: 1; }
}

#simple_data thead {
    display: none;
}
